# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Env
.env
.env.*
!.env.example

# Logs
*.log

# Node
node_modules/
dist/
build/
coverage/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.pytest_cache/
.mypy_cache/

# Django
staticfiles/
media/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Docker
*.pid

# Sentry
.sentryclirc
.vercel
.env*.local

*.zip