Django==5.1.7
djangorestframework==3.15.2
djangorestframework-simplejwt==5.5.0
drf-spectacular==0.28.0
django-cors-headers==4.7.0
psycopg2-binary==2.9.10
redis==5.2.1
celery==5.5.3
python-dotenv==1.1.0
Pillow==11.2.1
gunicorn==23.0.0
django-redis==5.4.0
django-storages==1.14.5
boto3==1.35.0
sentry-sdk==2.30.0
posthog==3.28.0